  
  <ion-menu side="start" content-id="main-content" >

    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Meus Cards <ion-icon name="copy-outline"></ion-icon></ion-title>
      </ion-toolbar>
    </ion-header> 

    <ion-content>
      <ion-list>
      
        <ion-item (click)="redirect('home')">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label >Home </ion-label>
        </ion-item>
        <ion-item (click)="redirect('editar-perfil')">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label >Editar perfil </ion-label>
        </ion-item>
  
        <ion-item (click)="redirect('show-card')">
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-label>Revisar cards</ion-label>
        </ion-item>
        
        <ion-item (click)="redirect('baralhos')">
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-label>Baralhos</ion-label>
        </ion-item>   
      
        <ion-item (click)="redirect('cadastrar-card')">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          <ion-label>Novo card</ion-label>
        </ion-item>
      
      </ion-list>
    </ion-content>


    
 </ion-menu> 

  <div class="ion-page" id="main-content">
    <ion-header>

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Anki-Clone</ion-title>
      </ion-toolbar>

    </ion-header>
    
    
<ion-content>
  <ion-list class="list">
    <ion-item-group  *ngFor="let baralho of _lista_baralhos">
      <ion-grid color="medium"> 
        <ion-row>
          <ion-col size="12">
            <ion-card horizontal="center">
              <ion-item lines="none">Nome: {{baralho.getNome()}}</ion-item>

              <ion-row>
                <ion-col  size="4">
                  <ion-button horizontal="center" color="secondary" (click)="cards(baralho.getId())">Cards</ion-button>
                </ion-col>
                <ion-col  size="4">
                  <ion-button color="success" (click)="alterar(baralho.getId())">Alterar</ion-button>
                </ion-col>
                <ion-col  size="4">
                  <ion-button color="danger" (click)="excluir(baralho.getId())">Excluir</ion-button>
                </ion-col>
              </ion-row>
              
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="success" (click)="redirect('cadastro-baralho')">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>