<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) = "voltar()">
        <ion-icon name="backspace-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      
    <ion-title>Sign Page</ion-title>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>
  <ion-card>

    <ion-list>
      <form [formGroup]="_formLogar" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
          
          <ion-label position="floating" ><ion-icon name="mail-outline"></ion-icon> Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
          <span *ngIf="_isSubmitted && errorControl.email.errors?.required">
            Email é obrigatório
          </span>
          <span *ngIf="_isSubmitted && errorControl.email.errors?.email">
            Formato de email inválido
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating" > <ion-icon name="lock-closed-outline"></ion-icon> Senha</ion-label>
          <ion-input 
         
          type="password" formControlName="senha"></ion-input>
          <span *ngIf="_isSubmitted && errorControl.senha.errors?.required">
            Senha é obrigatório
          </span>
          <span *ngIf="_isSubmitted && errorControl.senha.errors?.minLength">
            Senha de no minimo 6 caracteres
          </span>
        </ion-item>

       
        <ion-button  type="submit" expand="full" color="success">
          <ion-icon large name="save-outline" ></ion-icon>
            Entrar
        </ion-button>
        <ion-button  (click)="_signInGoogle()" expand="full" color="danger">
          <ion-icon slot="end" name="logo-google" ></ion-icon>
            Entrar com Google
        </ion-button>
      </form>
      <a (click)="_irParaSignUp()"> Não tem cadastro ? Clique aqui !</a>
    </ion-list>
  </ion-card>
</ion-content>

